.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  padding: .5rem;
}

@media (min-width: 1024px) { 
  .container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  padding: 1rem;
}
}